<div class="row login-container" style="height: 80%;">
  <div class="col-md-10 padding">
    <legend>New Customer</legend>

<%= render 'form' %>

<%= link_to 'Back', customers_path %>
  </div>
</div>
