/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */

body{
    width: 100%;
    height: 100%;
    min-height: 800px;
    min-width: 1000px;
    font-family: Cabin, Ubuntu, "Ubuntu";
    background: url("https://srm-cdn.vitrue.com/login/bkg20130220.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


.logo-text {

    float: left;
    margin-top: 12px;
    line-height: normal;
    padding-left: 116px;
    background: url("/assets/oracle_logo.png") no-repeat left top;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    height: 14px;
    text-transform: uppercase;
    line-height: 20px;

}


.login-container {

    padding: 0 0 0 0;
    height: 380px;
    width: 460px;
    top: 157px;
    left: 64px;
    text-align: left;
    background: #FFFFFF;
    position: absolute;

}


#product-container {

    padding: 0 0 0 0;
    height: 380px;
    width: 460px;
    top: 157px;
    left: 540px;
    text-align: left;
    background: #FFFFFF;
    position: absolute;
    opacity: 0.75;
    filter: alpha(opacity=75);

}


#login-form {

    display: block;
    position: absolute;
    top: 0px;
    height: 380px;
    width: 460px;

}

.padding{
    padding-top: 5%;
    padding-left: 10%;
}

.internal_body{
    background-color: whitesmoke;
    padding: 0 0 0 0;
}

.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}

.width_40{
    width: 40% !important;
}

.resize{
    resize:none;
}
.font_15{
    font-size: 15px !important;
}
.chat_ticket{
    padding: 3px;
    color: white !important;
    font-weight: bold;
    font-size: 13px !important;
}

.chatboxhead {
    background: #666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}

.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
}